<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="entities" connectionString="metadata=res://*/DB.Database.csdl|res://*/DB.Database.ssdl|res://*/DB.Database.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;charset = utf8;convertzerodatetime = true;Persist Security Info=True;User Id=root;database=patternsystem&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>